$header-font: "Bariol Big", Sans-Serif;
$header2-font: "Bariol Light", Sans-Serif;
$header-image: url('/images/may2015/secondSection.png');
$monsters-text: #e092ff;
$body-font: "Bariol Big";
$header-bg-color: #1d092a;
$footer-bg-color: #111222;


a {
	color: #FFF;
}


.h1 {
	font-family: $header-font;
  font-weight: 500;
  // font-size: 2.0em;
}

.h2 {
	font-family: $header-font;
  font-weight: 500;
  // font-size: 1.5em;
  // color: #FFF;
}

.h3 {
  color: #767676;
}

 #one {
      color: #fc4c6d;
    }
    #two {
      color: #27dffd;
    }
    #three {
      color: #2add74;
    }
    #four {
      color: #AE98C9;
    }
    #five {
      color: #ffee5f;
    }

.bgvideo {
  height: 500px;
  background-image: url('/images/may2015/secondSection.png');
  background-size: cover;
}

.vert-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.awards {
  background-color: $navbar-bg-color;
}

.header {

	background-color: $header-bg-color;
	background-image: $header-image;
  background-position: 50% 0%;
  background-size: cover;
	background-repeat: no-repeat;
	color: white;


}

.intro {
  background-color: #1d092a;
  color: white;
}



.monsters {
  background-color: #FFF;
  background-image: url('/images/may2015/firstSection.png');
  background-size: cover;
  background-position: 50% 50%;
  height: 500px;
	color: $monsters-text;
  .h1 {
	font-size: 1.7em;
  }
}

.monsters-mobile {
  background-color: #e8e8e8;
  background-image: url('/images/may2015/firstSectionPhone2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 500px;
  color: $monsters-text;
  .h1 {
  font-size: 1.7em;
  }
}

.web {
  // background-color: #1A2535;
  // color: $link-color!important;
  color: #fff;
}

.screenshots {
  .h1 {
    color: #FF5E4D;
  }
  // background-image: url('/images/may2015/gnogborder.svg'); 
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: 50% 00%;
  background-image: linear-gradient(-180deg, #F0E582 0%, #ABFAE9 100%);

}

#woodrow {
  .h1 {
  font-family: "Bariol Light", Sans-Serif;
  }
}

.info {
  background-image: url('/images/may2015/newsletterSection.png');
  background-size: cover;
  background-position: 50% 50%;
  height: 500px;
  .h1 {
    color: #4e5092;
  }
  .h3 {
    font-family: $header-font;
    color: #4e5092;

  }
}


.textfield {
	width: 96%;
	height:50px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	outline:0px;
	border: none;
	font-size: 1.5em;
  font-family: "Bariol Big", Sans-Serif;
	font-weight: 500;
	color: #FFF;
	background-color: #fc4c6d;
	border-color: #FFF;
	margin-right:25px;
	padding-left: 15px;
}


.subscribe {
	width: 96%;
	height: 50px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	outline:0px;
	border: none;
  font-family: "Bariol Big", Sans-Serif;
	font-size: 1.5em;
	font-weight: 500;
	color: #4e5092;
	background-color: #2add74;
	border-color: #FFF;
	margin-right:25px;
	padding-left: 15px;
}

.subscribe:hover{
  background-color: #629077;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #FFF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #FFF;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #FFF;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #FFF;
}



.gameplay {
	background-color: #fff;
}

.blueprint {
	color: #FFF;
}


#monsters img {
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -ms-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);

  -webkit-transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  -ms-transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);

}
#monsters img:hover {
  -webkit-transform: translate3d(0, -20px, 0);
  -moz-transform: translate3d(0, -20px, 0);
  -ms-transform: translate3d(0, -20px, 0);
}

// #one {
// 	z-index: 1;
// }

// #two {
// 	z-index: -1;
// }

/*

#underline {
text-decoration: none; 
background: url(/images/underline.svg) ;
background-repeat: no-repeat;
}

*/

#twitch {
  font-size: .5em;
}


.blueprintbig {
	background-color: #141813;
  font-family: "Bariol Light";
  font-size: 2em;
  color: #F1EEDD;
}

.blueprintbig a {
  color: #F1EEDD;
  font-family: "Bariol Big";
  text-decoration: underline;
}

.blueprintsmall {
  background-color: #141813;
  font-family: "Bariol Light";
  font-size: 3em;
  color: #F1EEDD;

}

.blueprintsmall a {
  color: #F1EEDD;
  font-family: "Bariol Big";
}

.blueprintxsmall a {
  color: #F1EEDD;
  font-family: "Bariol Big";
}

.blueprintxsmall {
  background-color: #141813;
  font-family: "Bariol Light";
  font-size: 2em;
  color: #F1EEDD;
}

#blueprints {

height: 370px;

}

#blueprints1 {

height: 370px;

}

#blueprints2 {

height: 370px;

}

#woodrow {
	background-image: url(/images/woodrowBackground-1.svg);
	background-position: 50% 00%;
	background-repeat: no-repeat;
/*	background-attachment: fixed;*/
	

}

#woodrowmobile {
  background-image: url(/images/woodrowBackground-1.svg);
  background-position: 50% 00%;
  background-repeat: no-repeat;
}


.footer {
  background-color: #16182c;
  color: #F1EEDD;
  font-family: $header-font;
  font-size: 1.5em;
  color: #4e5092;
  .links {
  a {
    text-decoration: underline;
    font-size: .7em;
    margin-right: 20px;
    margin-left: 20px
  }
  }
}

.inline-image {
  display: inline-block;
  img {
  border: 0 none;
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;

}
}

#rotate {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -moz-animation-name: rotate;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function:linear;

}

@-webkit-keyframes rotate {
  from {-webkit-transform:rotate(360deg);}
  to {  -webkit-transform:rotate(0deg);}
}

@-moz-keyframes rotate {
  from {-moz-transform:rotate(360deg);}
  to {  -moz-transform:rotate(0deg);}
}