$header-font: "Bariol Big", Sans-Serif;
$header2-font: "Bariol Regular", Sans-Serif;
$header-image: url('/images/may2016/gnog-promo.png');
$monsters-text: #7a37b2;
$body-font: "Bariol Regular";
$header-bg-color: #1d092a;
$footer-bg-color: #111222;
$footer-bg-image: url('/images/may2016/gnog-promo-footer.png');

body {
  font-family: $body-font;
}

a {
	color: #FFF;
  text-decoration: underline;
}

strong {
  font-family: $header-font;
}

.alert {
  font-family: "Bariol Big";
  background-color: #f6f16c;
  color: #6e0ea7;
  border-radius: 0px;
  margin-bottom: 0px;
  border: 0px;
  a {
    color: #f60e4c;
    text-decoration: underline;
  }

}

.h1 {
	font-family: $header-font;
  font-weight: 500;
  // font-size: 2.0em;
}

.h2 {
	font-family: $header2-font;
  font-weight: 500;
  // font-size: 2em;
  // color: #FFF;
}

.h3 {
  font-family: $header2-font;
  
}

 #one {
      color: #fc4c6d;
    }
    #two {
      color: #27dffd;
    }
    #three {
      color: #2add74;
    }
    #four {
      color: #AE98C9;
    }
    #five {
      color: #ffee5f;
    }

.bgvideo {
  height: 500px;
  background-image: url('/images/may2015/secondSection.png');
  background-size: cover;
}

.vert-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.awards {
  // background-color: $navbar-bg-color;
}

.papertoys {
  background-image: url('/images/may2016/patterngrid.png');
  background-size: 25px;
  color: #4e5092;
  .h3 {
    font-family: $header-font;
    color:  #4e5092
  }
  a {
    color: #ff2b64;
    text-decoration: underline;
  }
}
// mobile stylings


@media (max-width: 979px) {
  body {
    // font-size: 1em;
  }
  .header {
    background-image: url('/images/release/particle-bg.png')!important;
    height: auto!important;
    img {
      padding-top: 20px!important;
    }
    .trailerbutt {
      margin-left: -10px!important;
      width: 200px!important;
    }
    .pre-order-btn {
      width: 200px!important;
      margin-left: -10px!important;
    }
    .pre2-btn {
      // width: 200px;
    }
    .info {
      height: auto!important;
    }
  }
}

// end mobile styling

.pre2-btn {
      // width: 200px;
      background: #FF5E4D;
  color: white;
  border-color: #C93D5F;
  border-width: 3px;
  border-radius: 10px;
  font-family: $header2-font;
  /* Watch the trailer: */
  // font-family: $headline-font;
  letter-spacing: 0px;
  font-size: 1em;
    }

.header {
  img {
    padding-top: 400px;
  }
p {
  line-height: 1;
  font-size: 2.5em;
  color: #4e4e95;
}

  height: 1400px;
  background: url('/images/release/headerimage2.png');
  background-position: center, center;
  background-size: cover;
	background-repeat: no-repeat;
	background-color: #FFF;
  color: white;
  .ps4-preorder {
    font-size: 1.5em!important;
    font-family: $header2-font;
  }
  a {
    color: #4e4e95;
    text-decoration: underline;
    font-family: "Bariol Big";
  }
  #EU {
    font-size: .8em;
  }

}

.sub-header {
  background-color: #071126;
  background-image: url('/images/release/boxbg.png');
  background-size: cover;
  background-position: center center;
  color: #a4f1fc;
  .h2 {
    color: #a4f1fc;
    font-size: 2.5em;
  }
  .quote {
    em {
      color: #a4f1fc;
    }

    #press {
      color: #ddeb9f;
    }

    #and {
      color: #caa6fc;
    }
    strong {
      color: #caa6fc;
    }
    font-family: $header2-font;
    color: #caa6fc;
  }
}

.psvr {
  background-image: url('/images/release/nickvr.jpg');
  background-size: cover;
  color: white;
  font-family: $header2-font;

  p {
    line-height: 1.2em;
    font-size: 1.2em;
  }
  .h2 {
    font-size: 2.5em;
  }
  .quote {
    color: #58daff;
  }


}

.intro {
  background-image: url('/images/release/synthbg.png');
  background-size: cover;
  background-position: top;
  background-color: #39135a;
  color: #a4f1fc;
  p {
    line-height: 1em;
  }
  .h2 {
    font-size: 2.5em;
    span:nth-child(1) {
      color: #caa6fc;

    }
    span:nth-child(2) {
      color: #a4f1fc;
      
    }
    span:nth-child(3) {
      color: #ddeb9f;
      
    }
  }
  .bullet {
    p {
      font-size: 1.1em;

    }
    p:nth-child(1) {
      color: #ddeb9f;
    }
     p:nth-child(2) {
      color: #caa6fc;
    }
     p:nth-child(3) {
      color: #caa6fc;
    }
    p:nth-child(4) {
      color: #ddeb9f;
    }
    p:nth-child(5) {
      color: #a4f1fc;
    }
    p:nth-child(6) {
      color: #ddeb9f;
    }
    p:nth-child(7) {
      color: #ddeb9f;
    }
    p:nth-child(8) {
      color: #ddeb9f;
    }
    p:nth-child(9) {
      color: #caa6fc;
    }
  }
}

.unique {
  background-color: #fff;
  color: #916cff;
  .h2 {
    font-size: 2.5em;
  }
}

.synth-section {
  background-image: url('/images/release/synth-section2.png');
  background-color: #e1e1e1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #926eff;
  p {
    line-height: 1em;
  }
  .h2 {
    font-size: 2.5em;
  }

  .synth-btn {
    background: #e1e1e1;
  border-color: #ff415a;
  color: #ff415a;
  border-width: 3px;
  border-radius: 10px;
  width: 260px;
  height: 70px;
  font-family: $header2-font;
  margin-right: 10px;
  /* Watch the trailer: */
  // font-family: $headline-font;
  font-size: 1.5em;
  letter-spacing: 0px;
  // styling to make button appear non-clickable
  // cursor: default;
  }
  .synth-btn:active {
  -moz-box-shadow:    inset 0 0 0px white;
  -webkit-box-shadow: inset 0 0 0px white;
  box-shadow:         inset 0 0 0px white;
}
  .synth-btn:hover {
  color: #ff415a;
  
}
.synth-btn:focus {
  outline: none;
}
}



.sub-section {
  background-image: url('/images/release/sub-section.png');
  background-size: cover;
  background-position: center;
  background-color: #131f38;
  color: #ff9063;
  p {
    line-height: 1em;
  }
    .h2 {
    font-size: 2.5em;
  }
  .sub-btn {
  background: #131f38;
  border-color: #ff9063;
  border-width: 3px;
  border-radius: 10px;
  width: 260px;
  height: 70px;
  font-family: $header2-font;
  margin-right: 10px;
  /* Watch the trailer: */
  // font-family: $headline-font;
  font-size: 1.5em;
  letter-spacing: 0px;
  cursor: default;
  }
  .sub-btn:active {
  -moz-box-shadow:    inset 0 0 0px white;
  -webkit-box-shadow: inset 0 0 0px white;
  box-shadow:         inset 0 0 0px white;
}
  .sub-btn:hover {
  color: #ff9063;
  
}
.sub-btn:focus {
  outline: none;
}
}


.space-section {
  background-image: url('/images/release/vrtx-section.png');
  background-size: cover;
  background-position: center;
  background-color: #1bd387 ;
  color: #293784;
   p {
    line-height: 1em;
  }
    .h2 {
    font-size: 2.5em;
  }
  .space-btn {
  background: #1bd387;
  border-color: #293784;
  border-width: 3px;
  border-radius: 10px;
  width: 260px;
  height: 70px;
  font-family: $header2-font;
  margin-right: 10px;
  /* Watch the trailer: */
  // font-family: $headline-font;
  font-size: 1.5em;
  letter-spacing: 0px;
  cursor: default;
  }
  .space-btn:active {
  -moz-box-shadow:    inset 0 0 0px white;
  -webkit-box-shadow: inset 0 0 0px white;
  box-shadow:         inset 0 0 0px white;
}
  .space-btn:hover {
  color: #293784;
  
}
.space-btn:focus {
  outline: none;
}
}


.comingSoon {

  font-size: 1.2em;
  color: #ff415a;
  .h2 {
    font-size: 2.5em;
  }

}

.popup-gallery {
  padding-left: 0px!important;
  padding-right: 0px!important;
}

.monsters {
  background-color: #FFF;
  background-image: url('/images/may2015/firstSection.png');
  background-size: cover;
  background-position: 50% 50%;
  height: 500px;
	color: $monsters-text;
  .h1 {
	font-size: 1.7em;
  }
}

.monsters-mobile {
  background-color: #e8e8e8;
  background-image: url('/images/may2015/firstSectionPhone2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 500px;
  color: $monsters-text;
  .h1 {
  font-size: 1.7em;
  }
}

.web {
  // background-color: #1A2535;
  // color: $link-color!important;
  color: #fff;
}

.screenshots {
   font-size: 1.2em;
  color: #4e4e95;
  .h2 {
    font-size: 2.5em;
  }
  
  .h1 {
    color: #FF5E4D;
  }
  background-image: url('/images/release/gnog-particles.png');
  background-size: 70%;
  background-repeat: repeat;

  background-color: white;
  // background-image: url('/images/may2015/gnogborder.svg'); 
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: 50% 00%;
  // background-image: linear-gradient(-180deg, #F0E582 0%, #ABFAE9 100%);

  a {
    color: #ff415a;
    font-family: "Bariol Big"
  }

  .pre-btn {
  background: #ad7fff;
border-color: #52e897;
border-width: 3px;
border-radius: 10px;
margin-top: 15px;
margin-bottom: 15px;
width: auto;
height: 70px;
font-family: $header2-font;
/* Watch the trailer: */
// font-family: $headline-font;
font-size: 1.5em;
color: #FFF;
letter-spacing: 0px;
}
  .pre-btn:hover {
  color: #54f998;
}
}


#woodrow {
  .h1 {
  font-family: "Bariol Light", Sans-Serif;
  }
}

.info {
  background-color: white;
  background-image: url('/images/release/particle-bg.png');
  // background-size: cover;
  // background-position: 50% 50%;
  // height: 500px;
  .h1 {
    color: #4e5092;
    font-family: $header2-font;
    font-size: 2.2em;
  }
  span {
    font-family: $header-font;
  }
  .h3 {
    font-family: $header2-font;
    color: #4e5092;

  }
}


.textfield {
	width: 96%;
	height:50px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	outline:0px;
	border: none;
	font-size: 1.5em;
  font-family: "Bariol Big", Sans-Serif;
	font-weight: 500;
	color: #FFF;
	background-color: #fc4c6d;
	border-color: #FFF;
	margin-right:25px;
	padding-left: 15px;
}


.subscribe {
	width: 96%;
	height: 50px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	outline:0px;
	border: none;
  font-family: "Bariol Big", Sans-Serif;
	font-size: 1.5em;
	font-weight: 500;
	color: #4e5092;
	background-color: #2add74;
	border-color: #FFF;
	margin-right:25px;
	padding-left: 15px;
}

.subscribe:hover{
  background-color: #629077;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #FFF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #FFF;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #FFF;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #FFF;
}



.gameplay {
	background-color: #fff;
}

.blueprint {
	color: #FFF;
}


#monsters img {
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -ms-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);

  -webkit-transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  -ms-transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);

}
#monsters img:hover {
  -webkit-transform: translate3d(0, -20px, 0);
  -moz-transform: translate3d(0, -20px, 0);
  -ms-transform: translate3d(0, -20px, 0);
}

// #one {
// 	z-index: 1;
// }

// #two {
// 	z-index: -1;
// }

/*

#underline {
text-decoration: none; 
background: url(/images/underline.svg) ;
background-repeat: no-repeat;
}

*/

#twitch {
  font-size: .5em;
}


.blueprintbig {
	background-color: #141813;
  font-family: "Bariol Light";
  font-size: 2em;
  color: #F1EEDD;
}

.blueprintbig a {
  color: #F1EEDD;
  font-family: "Bariol Big";
  text-decoration: underline;
}

.blueprintsmall {
  background-color: #141813;
  font-family: "Bariol Light";
  font-size: 3em;
  color: #F1EEDD;

}

.blueprintsmall a {
  color: #F1EEDD;
  font-family: "Bariol Big";
}

.blueprintxsmall a {
  color: #F1EEDD;
  font-family: "Bariol Big";
}

.blueprintxsmall {
  background-color: #141813;
  font-family: "Bariol Light";
  font-size: 2em;
  color: #F1EEDD;
}

#blueprints {

height: 370px;

}

#blueprints1 {

height: 370px;

}

#blueprints2 {

height: 370px;

}

#woodrow {
	background-image: url(/images/woodrowBackground-1.svg);
	background-position: 50% 00%;
	background-repeat: no-repeat;
/*	background-attachment: fixed;*/
	

}

#woodrowmobile {
  background-image: url(/images/woodrowBackground-1.svg);
  background-position: 50% 00%;
  background-repeat: no-repeat;
}


.footer {
  background-color: #16182c;
  background-image: $footer-bg-image;
  // background-attachment: fixed;
  color: #F1EEDD;
  font-family: $header-font;
  font-size: 1.5em;
  color: #4e5092;
  .links {
  a {
    text-decoration: underline;
    font-size: .7em;
    margin-right: 20px;
    margin-left: 20px
  }
  }
}

.inline-image {
  display: inline-block;
  img {
  border: 0 none;
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;

}
}

#rotate {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -moz-animation-name: rotate;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function:linear;

}

@-webkit-keyframes rotate {
  from {-webkit-transform:rotate(360deg);}
  to {  -webkit-transform:rotate(0deg);}
}

@-moz-keyframes rotate {
  from {-moz-transform:rotate(360deg);}
  to {  -moz-transform:rotate(0deg);}
}

.boxes {
  background-color: #FFF;
}

.lead-description {
  background-color: white;
  color: black;
  height: 500px;

}
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.trailerbutt {
  /* Rectangle 3: */
/* Rectangle 3: */
background: #FFF;
border-color: #52e897;
border-width: 3px;
border-radius: 10px;
margin-top: 15px;
margin-bottom: 15px;
width: 220px;
height: 70px;
font-family: $header2-font;
margin-right: 10px;
// margin-left: -10px;
/* Watch the trailer: */
// font-family: $headline-font;
font-size: 1.5em;
color: #ff6783;
letter-spacing: 0px;
}
.trailerbutt:hover {
  color: #ac83fc!important;
}

.pre-order-btn {
  /* Rectangle 3: */
/* Rectangle 3: */
background: #ad7fff;
border-color: #52e897;
border-width: 3px;
border-radius: 10px;
margin-top: 15px;
margin-bottom: 15px;
width: 220px;
height: 70px;
font-family: $header2-font;
/* Watch the trailer: */
// font-family: $headline-font;
font-size: 1.5em;
color: #FFF;
letter-spacing: 0px;
}
.pre-order-btn:hover {
  color: #54f998;
}
.btn:hover {
  // color: #af3c52;
}
