$bg-color-home: #323432;
$bg-color-store: #FFF;
$link-color: #3D3983;
$link-hover-color: #898989;
$navbar-bg-color: #1b1e38 ;


/*Navbar styling*/

.navbar {
	background-color: $navbar-bg-color;
	border-radius: 0;
	// font-family: ;
}

// .affix,.navbar-fixed-top{
// -webkit-transform: scale3d(1,1,1)!important;
// }

// .navbar-toggle {
// 	background-color: #4E2460;
// }

.icon-bar {
	margin-top: 5px;
	background-color: #ff4a6b;
}

.navbar-brand {
	a {
		padding-top: 0px!important;
	}
	img {
		padding-top: 10px!important;
	}
	// .ko-op {
	// 	// padding-top: 12px;
	// }
}

.navbtn {
	background-color: $navbar-bg-color;
	border-color: #77FEED;
	border-width: 1px;
	border-radius: 5px;
	font-size: 1em;
	height: 35px;
	width: 140px;
	text-align: center;
	margin-top: -10px;
	padding-bottom: 30px;
	margin-right: 20px!important;

	a {
		color: #fc4c6d;

	}
}

.navbtn:hover {
	border-color: #fc4c6d;
	 a {
	 	color: #77FEED!important;
	 }
}

.navbar-custom {
	font-family: "Bariol Big";	
	font-size: 1em;
	// height: 100px;
	// padding-bottom: 10px;
	margin-bottom: 0px;
	border-radius: 0;
	

	a {
		text-decoration: none;
		margin-right: 10px;
		padding-top: 0px !important;
		// Remove this for collapsed navbar
		margin-bottom: 0px; 

		// color: $link-color !important;

	}

	li {
		margin-top: 10px;
	}

	#preorder {
		color: #ff4a6b!important;
		font-family: "Bariol Big"!important;
	}

	#preorder:hover {
		color: #d23f59!important;
	}

	a:hover {
 	background-color: transparent !important; 

	}

	.twitter-follow-button	{
		
		margin-top: -5px;
		margin-right: 15px;
		margin-left: 15px;
	}

}

#active {
	color: #fff !important;
	/*text-decoration: underline;*/
}

.hoverfix:hover {
	color: white!important;
}