// Bariol
@font-face {
  font-family: "Bariol Big";
  src: url("/type/bariol_bold-webfont.eot");
  src: local("☺"),
    url("/type/bariol_bold-webfont.woff") format("woff"),
    url("/type/bariol_bold-webfont.otf") format("opentype"),
    url("/type/bariol_bold-webfont.svg#bariol_boldbold") format("svg");
  }
@font-face {
  font-family: "Bariol Light";
  src: url("/type/bariol_light-webfont.eot");
  src: local("☺"),
    url("/type/bariol_light-webfont.woff") format("woff"),
    url("/type/bariol_light-webfont.otf") format("opentype"),
    url("/type/bariol_light-webfont.svg#bariol_lightlight") format("svg");
  }

body {
  font-size: 18px;
}

h1,h2,h3,h4,h5,h6,p {
   line-height: 1.45;
}

.h1,.h2,.h3 {
  line-height: 1.2;
}

h1 { font-size: 2em; }
h2 { font-size: 1.6em; }
.h1 { font-size: 1.8em; }
.h2 { font-size: 1.6em; }