@font-face {
  font-family: "Bariol Big";
  src: url("/type/bariol_bold-webfont.eot");
  src: local("☺"),
    url("/type/bariol_bold-webfont.woff") format("woff"),
    url("/type/bariol_bold-webfont.otf") format("opentype"),
    url("/type/bariol_bold-webfont.svg#bariol_boldbold") format("svg");
  }
@font-face {
  font-family: "Bariol Light";
  src: url("/type/bariol_light-webfont.eot");
  src: local("☺"),
    url("/type/bariol_light-webfont.woff") format("woff"),
    url("/type/bariol_light-webfont.otf") format("opentype"),
    url("/type/bariol_light-webfont.svg#bariol_lightlight") format("svg");
  }
h1 { font-family: "Bariol Big", Helvetica, sans-serif; color: #6d1026; }


body {
	background-color: #85c1ad;
	font-family: "Bariol Big", Helvetica, sans-serif;
	color: #2e2446;
	font-size: 24px;
}

a {
	color: #FFF;
	text-decoration: underline;

}

.subhead {
	background-color: #FFF;
}

.h1 {
	color: #FFF;
	font-family: "Bariol Big", Helvetica, sans-serif;
}

.blue {
	color: #242744;
}

.white {
	color: #FFF;
}

.h2 {
	font-family: "Bariol Light", Helvetica, sans-serif;
	font-size: 36px;
	color: #6972c8;

}

.info {
	background-color: #c8353c;
}

.content {
	background-color: #FFF;
}

.submarine {
	background-color: #121221;
	position: relative;
}

.lounge {
	background-color: #fee5bb;
	position: relative;
}

.fortune {
	background-color: #470a18;
	position: relative;
}


h1.title {

	font-family: "Bariol Big";
	color: #FFF;
}

.title2 {
	font-size: 200%;
	font-family: "Bariol Big";
	color: #FFF;
}
.title2phone {

	font-family: "Bariol Big";
	font-size: 200%;
	color: #FFF;
}

h1.sub {
	font-family: "Bariol Light";
	font-size: 200%;
	color: #FFF;
}

h1.mailing {

	font-family: "Bariol Light";
	font-size: 200%;
	color: #FFF;
}


h1.titlephone{
	font-family: "Bariol Big";
	font-size: 200%;
	color: #FFF;
}

h1.mailingphone {

	font-family: "Bariol Light";
	font-size: 150%;
	color: #FFF;
}



a.presskit {
	text-decoration: none;
}


.navbar-static-bottom {
	background-color: #1f203e;

	margin: 0px;
}

.header {

	background-color: #fff;
	
	background-position:center; 
	background-repeat:repeat;
	overflow: hidden; 
	z-index: 0;
	position: relative;



}

.weird {
	margin-top: -30%;
	position:absolute; 
	top:0px; 
	left:0px;
}


#rotate { 

}

#rotate {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 150s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -moz-animation-name: rotate;
  -moz-animation-duration:150s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function:linear;
}

@-webkit-keyframes rotate {
  from {-webkit-transform:rotate(0deg);}
  to {  -webkit-transform:rotate(360deg);}
}

@-moz-keyframes rotate {
  from {-moz-transform:rotate(0deg);}
  to {  -moz-transform:rotate(360deg);}
}


.video {
	background-image: url(/images/bgstars.png);
	background-attachment: fixed;
	position: relative;
	color: #fff;
	z-index: 1;
}

.summary {
	background-color: #ffc76c;
	position: relative;

}


.woodrow {
	background-color: #5f6b33;
	position: relative;
}


.textfield {
	width: 300px;
	height:50px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	outline:0px;
	border: none;
	font-size: 100%;
	font-weight: 500;
	color: #2f2f2f;
	background-color: #FFF;
	border-color: #FFF;
	margin-right:25px;
	padding-left: 15px;
}

.textfieldphone {
	width: 50%;
	height:50px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	outline:0px;
	border: none;
	font-size: 100%;
	font-weight: 500;
	color: #2f2f2f;
	background-color: #FFF;
	border-color: #FFF;
	margin-right:25px;
	padding-left: 15px;
}


/*.textfield {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	outline:0;
}

*/

a:hover {
	color: #b72231;

}

.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}
 
.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }
 
.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
}

.subscribe {
	background-color:#c8353c;
	-webkit-border-top-left-radius:26px;
	-moz-border-radius-topleft:26px;
	border-top-left-radius:26px;
	-webkit-border-top-right-radius:26px;
	-moz-border-radius-topright:26px;
	border-top-right-radius:26px;
	-webkit-border-bottom-right-radius:26px;
	-moz-border-radius-bottomright:26px;
	border-bottom-right-radius:26px;
	-webkit-border-bottom-left-radius:26px;
	-moz-border-radius-bottomleft:26px;
	border-bottom-left-radius:26px;
	text-indent:0;
	border:0px solid #dcdcdc;
	display:inline-block;
	color:#FFF;
	font-family:"Bariol Big";
	font-size:24px;
	font-weight:normal;
	font-style:normal;
	height:55px;
	line-height:50px;
	width:165px;
	text-decoration:none;
	text-align:center;
}
.subscribe:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #030103), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #030103 5%, #000000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#030103', endColorstr='#000000');
	background-color:#030103;
}.subscribe:active {
	position:relative;
	top:1px;
}

.subscribephone {
	background-color:#c8353c;
	-webkit-border-top-left-radius:26px;
	-moz-border-radius-topleft:26px;
	border-top-left-radius:26px;
	-webkit-border-top-right-radius:26px;
	-moz-border-radius-topright:26px;
	border-top-right-radius:26px;
	-webkit-border-bottom-right-radius:26px;
	-moz-border-radius-bottomright:26px;
	border-bottom-right-radius:26px;
	-webkit-border-bottom-left-radius:26px;
	-moz-border-radius-bottomleft:26px;
	border-bottom-left-radius:26px;
	
	border:0px solid #dcdcdc;
	
	color:#FFF;
	font-family:"Bariol Big";
	font-size:18px;
	font-weight:normal;
	font-style:normal;
	margin-right: 20px;
	margin-top: 5px;
	line-height:30px;
	width:40%;
	text-decoration:none;
	text-align:center;
}
.subscribephone:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #030103), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #030103 5%, #000000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#030103', endColorstr='#000000');
	background-color:#030103;
}
.subscribephone:active {
	position:relative;
	top:1px;
}